
# data and large files
data/
*.nii
*.nii.gz
*.tif
*.tiff
*.nrrd
*.oir
*.zip

# env and cache
venv/
.venv/
__pycache__/
.DS_Store

# Experiments and Results (New)
experiments/
training_*.log
inference_*.log
training_log.txt
